/* styles/Nav.css */

.navbar {
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.light-bg {
  background-color: #f8f9fa; /* Light background color */
}

.dark-bg {
  background-color: #343a40; /* Dark background color */
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1; /* Allow the search container to take up the available space */
}

.search {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 300px;
}

.searchLogo {
  margin-left: 10px;
  cursor: pointer;
}

.icon-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto; /* Push the icon group to the far right */
}

.icon-group img {
  margin-left: 15px;
  cursor: pointer;
}

@media (max-width: 992px) {
  .navbar {
    padding: 10px;
  }

  .search {
    max-width: 250px;
  }

  .search-container {
    flex-grow: 1;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-container {
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
  }

  .search {
    width: 100%; /* Full width on small screens */
  }

  .icon-group {
    width: 100%;
    justify-content: flex-end;
  }
}

@media (max-width: 576px) {
  .icon-group {
    justify-content: center;
    margin-top: 10px;
  }

  .icon-group img {
    margin-left: 10px;
    height: 30px;
  }
}
